tignore for Django using pyCharm
;;

;;files to ignore
settings.py

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/

POSSys/__init__.pyc
POSSys/models.pyc
POSSys/views.pyc
POSSystem/__init__.pyc
POSSystem/settings.pyc
POSSystem/urls.pyc
POSSys/__init__.pyc
POSSys/models.pyc
POSSys/views.pyc
POSSystem/__init__.pyc
POSSystem/settings.pyc
POSSystem/urls.pyc
