<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Affogato Café POS System Demo Version</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar-static-top.css" %}" rel="stylesheet">
    <link href="{% static "css/highcharts.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "css/daterangepicker.css" %}" rel="stylesheet">

    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
    {#<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>#}
    <script>window.jQuery || document.write('<script src={% static "js/jquery-3.2.0.min.js" %}><\/script>')</script>
{#    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>#}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    {#    <script src="https://code.highcharts.com/modules/data.js"></script>#}
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
 <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/daterangepicker.js" %}"></script>
    <script src=" {% static "js/jquery.blockUI.js" %} "></script>
    {##}
    {##}
    {#    <script type="text/javascript" src="{% static "js/highcharts.js" %}"></script>#}

    {#    <link href="{% static "js/jquery-1.11.3.min.js" %}" rel="stylesheet">#}
    {#    <link href="{% static "js/jquery.dataTables.min.js" %}" rel="stylesheet">#}

    {#    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">#}

    {#    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>#}


    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
    <link href="{% static "js/ie-emulation-modes-warning.js" %}" rel="stylesheet">

    <script>
        $(document).ready(function () {

            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '平均來客數'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                      '星期日',
                      '星期一',
                      '星期二',
                      '星期四',
                      '星期五',
                      '星期六',

                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '人'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} 人</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: '12-15時',
                    data: [
                        {% for item in data %}
                            {% if item.t == 0 %}
                                {{ item.rate }},
                            {% endif %}
                        {% endfor %}
                    ]

                }, {
                    name: '15-18時',
                    data: [
                         {% for item in data %}
                            {% if item.t == 1 %}
                                {{ item.rate }},
                            {% endif %}
                        {% endfor %}
                    ]

                }, {
                    name: '18-21時',
                    data: [
                         {% for item in data %}
                            {% if item.t == 2 %}
                                {{ item.rate }},
                            {% endif %}
                        {% endfor %}
                    ]

                }]
            });
        });

    </script>
<script>
        $(document).ready(function () {

            $('#config-demo').daterangepicker({
                "autoApply": true,
                "linkedCalendars": false,
                "startDate": "{{ startDate }}",
                "endDate": "{{ endDate }}",
                locale: {
                    format: 'YYYY/MM/DD'
                }
            }, function (start, end, label) {
                $.blockUI({message: '<h1><img src="{% static "img/712.gif" %}" /> &nbsp;&nbsp;資料讀取中...</h1>'});
                $('#startDate').val(start.format('YYYY/MM/DD'));
                $('#endDate').val(end.format('YYYY/MM/DD'));
                $('#postInfo').attr('action','/reportCustomerAnalysis/');
                $('#postInfo').submit();
            });


        });
    </script>
</head>


{#<script type="text/javascript" language="javascript"#}
{#        src="//cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.min.js"></script>#}

<body>
<div class="container">
    {% include 'navbar.html' %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="col-md-4 col-md-offset-0 demo">
        <h4>搜尋區間</h4>
        <input type="text" id="config-demo" class="form-control" value="{{ preDate }}">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>

        <form id="postInfo" action="/reportSum/" method="post">
            {% csrf_token %}
            <input type="text" id="startDate" name="startDate" value="{{ startDate }}" hidden>
            <input type="text" id="endDate" name="endDate" value="{{ endDate }}" hidden>
            <input type="text" id="preDate" name="preDate" hidden>
        </form>
    </div>
    <div class="">
        {#        <div id="container" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>#}
        <div id="container" style="min-width: 310px; max-width: 100%; height: 400px; margin: 0 auto"></div>
    </div>
    <hr>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#<script>window.jQuery || document.write('<script src={% static "js/jquery-3.2.0.min.js" %}><\/script>')</script>#}
{#<script src={% static "js/bootstrap.min.js" %}></script>#}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src={% static "js/ie10-viewport-bug-workaround.js" %}></script>
</body>
</html>