<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Affogato Café POS System Demo Version</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar-static-top.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.dataTables.min.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="http://cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css">
    <script type="text/javascript"
            src="http://cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.js"></script>
    {#    <link href="{% static "js/jquery-1.11.3.min.js" %}" rel="stylesheet">#}
    {#    <link href="{% static "js/jquery.dataTables.min.js" %}" rel="stylesheet">#}

    {#    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">#}

    {#    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>#}


    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
    <link href="{% static "js/ie-emulation-modes-warning.js" %}" rel="stylesheet">


    <script>
        var dataset = [];


        function TableLoad() {
            var columnDefs = [
                {
                    title: "品項"
                }, {
                    title: "單價"
                }, {
                    title: "數量"
                }, {
                    title: "小計"
                }];

            var myTable;

            myTable = $('#example').DataTable({
                "sPaginationType": "full_numbers",
                data: dataSet,
                columns: columnDefs,
                {#                dom: 'Bfrtip',        // Needs button container#}
                {#                select: 'single',#}
                {#                responsive: true,#}
                {#                altEditor: true,     // Enable altEditor#}
                {#                buttons: [{#}
                {#                    text: 'Add',#}
                {#                    name: 'add'        // do not change name#}
                {#                },#}
                {#                    {#}
                {#                        extend: 'selected', // Bind to Selected row#}
                {#                        text: 'Edit',#}
                {#                        name: 'edit'        // do not change name#}
                {#                    },#}
                {#                    {#}
                {#                        extend: 'selected', // Bind to Selected row#}
                {#                        text: 'Delete',#}
                {#                        name: 'delete'      // do not change name#}
                {#                    }]#}
            });
        }


        $(document).ready(function () {

            dataSet = [
                ["錫蘭紅茶", "50", "1", "50"],

            ];
        TableLoad();

        });
    </script>

    <script>
        var item = [], list = [];


        function ShowCount(Target) {
            var speed = 'fast';
            $('#menu-1').hide(speed);
            $('#mainMenu').hide(speed);
            $('#number').show(speed);
            item.push(Target);
            item.push('50');

            {#            item.item = Target;#}
        }
        ;

        function ShowMenu(Target) {
            var speed = 'fast';
            $('#' + Target).show(speed);
            $('#mainMenu').hide(speed);
            $('#number').hide(speed);
            $('#txtNumber').val('1');
        }
        ;

        function BackMenu(Target) {
            var speed = 'fast';
            $('#' + Target).hide(speed);
            $('#mainMenu').show(speed);
            $('#number').hide(speed);
        }
        ;


        function Count(NumberVal) {
            if (NumberVal == -1) {
                $('#txtNumber').val('');
            }
            else {
                $('#txtNumber').val($('#txtNumber').val() + NumberVal.toString());

            }
        }
        ;

        function PsuhToList() {
            {#            item.num = $('#txtNumber').val();#}
            item.push($('#txtNumber').val());
            item.push('50');

            dataSet.push(item);
            item = [];
{#            $('#example').DataTable().ajax.reload();#}
            $('#example').DataTable().clear().rows.add(dataSet).draw();
{#            $('#example').DataTable().row.add().draw()#}
            BackMenu('number');
        }
        ;

    </script>

</head>
<style>
    .btn {
        height: 110px;
        width: 110px;
        font-size: 20px;
        vertical-align: middle;
        font-family: 標楷體;
    }

    .menu {
        line-height: 120px;
        letter-spacing: 3px;
    }

    .btn-key {
        height: 80px;
        width: 80px;
        font-size: 30px;
        vertical-align: middle;
        font-family: 標楷體;
    }

    .keyboard {
        line-height: 100px;
        letter-spacing: 3px;

    }

    .form-control {
        font-size: 30px;
    }

    .table {
        font-size: 15px;
        font-family: 標楷體;
    }

    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-right: 30px;
        padding-left: 30px;
    }

    .jumbotron {
        padding-top: 26px;
        padding-bottom: 26px;
    }
</style>
{#<script type="text/javascript" language="javascript"#}
{#        src="//cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.min.js"></script>#}

<body>
<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Affogato Café PSO</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Sell</a></li>
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Report</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron col-lg-6 col-md-6">
        <div class="menu" id="mainMenu">
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">冰飲類</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">熱飲類</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">單品咖啡</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">義式咖啡</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">花式咖啡</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">手作料理</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">貝果堡<br>紳士堡</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">甜點</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">簡單貝果</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowMenu('menu-1');">鬆餅類</button>

        </div>
        <div class="menu" id="menu-1" hidden>
            <h3>冰飲類</h3>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowCount('錫蘭紅茶');">錫蘭紅茶</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowCount('茉莉綠茶');">茉莉綠茶</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowCount('柳橙紅茶');">柳橙紅茶</button>
            <button class="btn btn-lg btn-primary" onclick="javascript:ShowCount('櫻桃紅茶');">櫻桃紅茶</button>
            <button class="btn btn-lg btn-warning" onclick="javascript:BackMenu('menu-1');">回上一頁</button>

            {#                <a class="btn btn-lg btn-warning" href="javascript: BackMenu('menu-1');" role="button">回上一頁</a>#}
        </div>
        <div id="number" class="keyboard" style="display: none">
            <input type="text" class="form-control" id="txtNumber" style="height: 60px" placeholder="數量">
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(1);">1</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(2);">2</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(3);">3</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(4);">4</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(5);">5</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(6);">6</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(7);">7</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(8);">8</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(9);">9</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(0);">0</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:PsuhToList();">小計</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:Count(-1);">更正</button>
            <button class="btn btn-lg btn-primary btn-key" onclick="javascript:BackMenu('menu-1');">取消</button>


            <br>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        {#        <table id="example" class="display" width="100%"></table>#}
        <table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example">
            <!-- Table panel panel-default -->
            {#        <table class="table table-striped">#}
            {#            <th>#</th>#}
            {#            <th>餐點名稱</th>#}
            {#            <th>數量</th>#}
            {#            <th>單價</th>#}
            {#            <th>小計</th>#}
            {#            <tr>#}
            {#                <td>1</td>#}
            {#                <td>錫蘭紅茶</td>#}
            {#                <td>1</td>#}
            {#                <td>50</td>#}
            {#                <td>50</td>#}
            {#            </tr>#}
            {#            <tr>#}
            {#                <td>2</td>#}
            {#                <td>茉莉綠茶</td>#}
            {#                <td>2</td>#}
            {#                <td>55</td>#}
            {#                <td>110</td>#}
            {#            </tr>#}
            {#            <tr>#}
            {#                <td></td>#}
            {#                <td>總計</td>#}
            {#                <td></td>#}
            {#                <td></td>#}
            {#                <td><p style="color: red; font-size: 30px">160</p></td>#}
            {#            </tr>#}
            {#        </table>#}
    </div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#<script>window.jQuery || document.write('<script src={% static "js/jquery-3.2.0.min.js" %}><\/script>')</script>#}
<script src={% static "js/bootstrap.min.js" %}></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src={% static "js/ie10-viewport-bug-workaround.js" %}></script>
</body>
</html>