<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Affogato Café POS System Demo Version</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/daterangepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar-static-top.css" %}" rel="stylesheet">
    <link href="{% static "css/highcharts.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
{#    <link href="{% static "js/jquery-1.11.3.min.js" %}" rel="stylesheet">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src={% static "js/bootstrap.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "js/ie10-viewport-bug-workaround.js" %}></script>
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/daterangepicker.js" %}"></script>
    <script src=" {% static "js/jquery.blockUI.js" %} "></script>


    <style type="text/css">
        .demo {
            position: relative;
        }

        .demo i {
            position: absolute;
            bottom: 10px;
            right: 24px;
            top: auto;
            cursor: pointer;
        }
    </style>
</head>
<script>
    $(document).ready(function () {

        $('#config-demo').daterangepicker({
            "autoApply": true,
            "linkedCalendars": false,
            "startDate": "{{ startDate }}",
            "endDate": "{{ endDate }}",
            locale: {
                format: 'YYYY/MM/DD'
            }
        }, function (start, end, label) {
            $.blockUI({ message: '<h1><img src="{% static "img/712.gif" %}" /> &nbsp;&nbsp;資料讀取中...</h1>' });
            $('#startDate').val(start.format('YYYY/MM/DD'));
            $('#endDate').val(end.format('YYYY/MM/DD'));
            $('#postInfo').submit();
        });
    });


</script>

{#<script type="text/javascript" language="javascript"#}
{#        src="//cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.min.js"></script>#}

<body>
<div class="container">
    {% include 'navbar.html' %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="col-md-4 col-md-offset-0 demo">
        <h4>搜尋區間</h4>
        <input type="text" id="config-demo" class="form-control" value="{{ preDate }}">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>

        <form id="postInfo" action="/reportSellList/" method="post">
            {% csrf_token %}
            <input type="text" id="startDate" name="startDate" hidden>
            <input type="text" id="endDate" name="endDate" hidden>
            <input type="text" id="preDate" name="preDate" hidden>
        </form>





    </div>
    <div class="col-md-8"></div>


    <div class="col-md-12">
        <hr>
        {% if data|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>進入時間</th>
                <th>顧客人數</th>
                <th>單張總金額</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.sellNo }}</td>
                    <td>{{ item.entryTime }}</td>
                    <td>{{ item.customerNumber }}</td>
                    <td>{{ item.income }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>本日無資料</h1>
        {% endif %}
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>